* {
    margin: 0;
    padding: 0;
  }
  
  .container {
    height: 100vh;
    width: 100vw;
    background: #9c03a74e;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    color: white;
    background-image: ;
  }
  
  .tag {
    height: 80px;
    width: 435px;
    background: linear-gradient(rgb(214, 8, 8), rgb(146, 4, 146));
    border-radius: 10px;
    color: #ffffff;
    font-family: helvetica;
    line-height: 80px;
    text-align: center;
    font-weight: 900;
    font-size: 50px;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-top: -50px;
    box-shadow: 0 0 10px -3px #ffffff inset;
  }
  /*.tag:after {
    content: "Bestfriend";
  }
  */
  .container .tag :hover {
    color: rgb(131, 223, 130);
  }
  .ribbon {
    width: 100%;
    height: 20px;
    background: rgb(255, 255, 255);
    box-shadow: 0 0 10px -3px #333;
  }
  .tag a {
    color: rgb(239, 231, 13);
    text-decoration: none;
  }
  p {
    position: absolute;
    color: rgb(8, 0, 223);
    top: 60%;
    font-family:Arial, Helvetica, sans-serif
    font-weight: 900;
  }